
@media screen and (min-width:991px){
    .wrapper{
        display: none;
    }
}


.wrapper{
    position:relative;
}
.button{
    position:relative;
    z-index:2;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:24px;
    height:50px;
    width:80px;
    top: 48px;
    right: 150px;
    border-radius:5px;
    cursor: pointer;
    color:#d1d1d1;
    background: #060709;
    border: 1px solid rgb(166, 165, 167);
    float: right;
}
.text{font-size:19px;}
.icon{
    position:relative;
    width:20px;
    height:20px;
}
input{
    position:absolute;
    transform: scale(0);
}

.menu{
    overflow:hidden;
    position:absolute;
    z-index:1;
    top:99px;
    right: 150px;
    width: 200px;
    
}
/* ICONO ANTES Y DESPUES, X Y FLECHITA  */
.icon::before,
.icon::after{
    content:"";
    position:absolute;
    top:6px;
    left:11px;
    width:3px;
    height:10px;
    border-radius:1px;
    background:rgb(255, 255, 255);
    transition:all 0.3s;
}
.icon::before{
    transform:translate(-5px,0)rotate(-45deg);
}
.icon::after{
    transform:translate(0, 0)rotate(45deg);
}
.menu ul{
    float: right;
    width:100%;
    margin:0;
    padding:24px 0;
    background:#f4f4f4;
    border-radius:5px 0px 5px 5px;
    transform:translateY(-100%);
    list-style:none;
    transition:all 0.3s;
    padding-top: 30px;
}
.menu li{
    display:flex;
    align-items:center;
    width:inherit;
    padding: 0 10px;
    
}
.menu li:not(:last-child){margin-bottom:6px;}
.menu li>a{
    display:flex;
    align-items:center;
    width:inherit;
    height:44px;
    padding: 0px 5px 0px 20px;
    border-radius:8px;
    font-size:17px;
    color:#0c0c0c;
    cursor:pointer;
    transition:all 0.25s;
    text-decoration: none;
    font-weight: 600;
}
.menu li > a:hover{
    background:#d416bb;
    color: white;
}



   input:checked ~ .menu ul{
    transform:translateY(0);
  }
  /* input:checked ~.button{
  
  } */
  input:checked ~ .button .icon::before{
    transform:
      translate(-3px,0)
      rotate(-45deg)
      scaleY(2);
  }
  input:checked ~ .button .icon::after{
    transform:
      translate(-3px,0)
      rotate(45deg)
      scaleY(2);
  }